ion-item{
    --background: #e4e7eb;
    --color: rgb(0, 0, 0);
    margin-top: 5%;
    margin-bottom: 5%;
}
ion-button{
    --background: #083583;
    --border-radius: 10px;
}

.padding{
    margin-left:5%;
    margin-right:5%;
    border-radius:5px;
}

.flex{
    display:flex;
    justify-content: center;
    padding-bottom:30%;
    padding-top:30%;
}